{% extends 'base.html' %}
{% set active_page = 'faq' %}
{% block title %}FAQ{% endblock %}

{% block content %}
<h1>FAQ</h1>
<p class="muted">
    Краткие ответы на распространённые вопросы. Если ваш вопрос здесь не освещён —
    напишите автору в Telegram <a href="https://t.me/iudmitriev" target="_blank" rel="noopener">@iudmitriev</a>
    или на почту <a href="mailto:i.u.dmitriev@gmail.com">i.u.dmitriev@gmail.com</a>.
</p>

<div class="accordion">
    <details>
        <summary>Почему в тексте некоторые слова окружены знаками больше и меньше, <code>&lt;&lt;&lt;вот так&gt;&gt;&gt;</code>?</summary>
        <div class="answer">
            <p>Это слова, в которых программа не смогла проанализировать ударение. Их необходимо разметить вручную.</p>
        </div>
    </details>

    <details>
        <summary>Что означает знак <code>^</code> в тексте?</summary>
        <div class="answer">
            <p>Программа считает, что в данном месте в тексте есть гласный звук, но не смогла обнаружить соответствующую ему гласную букву. Знак <code>^</code> выступает в качестве дополнительной гласной, отсутствующей на этом месте.</p>
        </div>
    </details>

    <details>
        <summary>После разметки из текста пропали символы, с чем это связано?</summary>
        <div class="answer">
            <p>В силу технических причин все символы, кроме стандартных латинских, а также символов <code>|</code> и <code>*</code> удаляются из текста.
                При этом кавычки, отличные от <code>"</code>, например, «ёлочки», заменяются на стандартные английские.</p>
        </div>
    </details>

    <details>
        <summary>Можно ли сделать окно с текстом побольше?</summary>
        <div class="answer">
            <p>Зажав правый нижний угол окна с текстом, вы можете изменять его размер.</p>
        </div>
    </details>

    <details>
        <summary>С какими языками работает программа?</summary>
        <div class="answer">
            <p>Программа в настоящий момент работает только с английским языком.</p>
        </div>
    </details>

    <details>
        <summary>Программа некорректно размечает одно конкретное слово, часто встречающееся в моих текстах. Что можно сделать?</summary>
        <div class="answer">
            <p>Напишите автору — внесём слово в список исключений.</p>
        </div>
    </details>

    <details>
        <summary>Программа некорректно размечает, что делать?</summary>
        <div class="answer">
            <p>Если случай кажется простым и исправимым, напишите автору, постараемся исправить программу, чтобы она не допускала этих ошибок.</p>
            <p>Список известных проблем:</p>
            <ul>
                <li>Иногда в последних ритмических словах строчек отсутствуют ударения</li>
                <li>В словах, состоящих из большого числа букв и маленького числа звуков, не определяются ударения</li>
            </ul>
        </div>
    </details>

    <details>
        <summary>Как работает эта программа?</summary>
        <div class="answer">
            <p>Примерное описание работы программы можно прочитать по <a href="https://drive.google.com/file/d/1qSFQyGs5hxIqrzxAW6r6MEPYvNeidH95/view?usp=sharing" target="_blank" rel="noopener">ссылке</a>.</p>
        </div>
    </details>

    <details>
        <summary>Можно ли ознакомиться с кодом программы?</summary>
        <div class="answer">
            <p>Да, он выложен на <a href="https://github.com/iudmitriev/syllable_parser" target="_blank" rel="noopener">GitHub</a>.</p>
        </div>
    </details>

    <details>
        <summary>Как связаться с автором программы?</summary>
        <div class="answer">
            <p>Можно написать в Telegram <a href="https://t.me/iudmitriev" target="_blank" rel="noopener">@iudmitriev</a> или на почту <a href="mailto:i.u.dmitriev@gmail.com">i.u.dmitriev@gmail.com</a>.</p>
        </div>
    </details>
</div>
{% endblock %}
