<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Разметка текста</title>
</head>
<body>
    <h1>Разметчик текста</h1>
    <p>
        Данный сайт позволяет автоматически разметить текст на английском языке
        в формате, который поддерживается системой "Прозиметрон". Качество разметки
        далеко от идеала, поэтому результаты работы программы должны вычитываться человеком.
    </p>
    <p>
        Краткое описание системы, контакты и ответы на ряды вопросов доступны по <a href="/explanations">ссылке</a>
    </p>
    <form action="/process_text" method="post" enctype="multipart/form-data">
        <label for="option_selector">Выберете ритмическую структуру текста:</label>
        <select id="option_selector" name="option_selector">
            <option value="prose">Проза</option>
            <option value="4_iamb">Четырехстопный ямб</option>
            <option value="5_iamb">Пятистопный ямб</option>
            <option value="trochee">Хорей</option>
            <!-- Add more options as needed -->
        </select><br><br>
        <label for="text_input">Вставьте текст или загрузите файл в формате txt:</label><br>
        <textarea id="text_input" name="text_input" rows="15" style="width: 50%"></textarea><br><br>
        <input type="file" name="file_input"><br><br>
        <input type="submit" value="Разметить">
    </form>

    {% if processed_text %}
        <h2>Размеченный текст:</h2>
        <textarea rows="15" style="width: 50%">{{ processed_text}}</textarea><br><br>
    {% endif %}

</body>
</html>
